@charset "utf-8";

*{margin:0;padding:0;}
*, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

html { overflow-x: hidden; }
body {min-width:320px;height:100%; margin:0 auto; line-height: 18px; font-size:16px;font-family: /*'Noto Sans CJK WF',*/ "Noto Sans KR";line-height:100%;color:#111;background-color:#fff;width:100%;-webkit-font-smoothing: antialiased;/* Fix for webkit rendering */-webkit-text-size-adjust:none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p { margin: 0px; padding:0px; -webkit-text-size-adjust:none; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {margin:0;padding:0;border:0;border-radius:0;/* for iOS */outline:0;font-size:100%;}
h1, h2, h3, h4, h5, h6{margin:0;font-size:1em;}
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img, abbr, acronym { border: 0px; }
legend { position: absolute; *margin-left: -7px; height: 0; line-height: 0; font-size: 0; overflow: hidden; }
address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
caption { height: 0; line-height: 0; font-size: 0; overflow: hidden; text-indent: -10000px; }
q:before, q:after { content:''; }
a { color: inherit; text-decoration: none; outline: none;}
hr { display: none; }
button { padding: 0; border: 0 none; background: none; outline: none;font-family: /*'Noto Sans CJK WF',*/ "Noto Sans KR";}
label { cursor: pointer; }
textarea{font-family: /*'Noto Sans CJK WF',*/ "Noto Sans KR";}
img {width:100%; height:auto;-ms-interpolation-mode:bicubic;}

header, footer, article, section, aside, details, figure, figcaption, nav, hgroup { display: block; margin: 0; padding: 0; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
button, input, select, textarea { margin: 0; font-size: 100%; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }