@charset "utf-8";

a {
  cursor: pointer;
}
/* 로그인 */
.loginWrap {
  width: 1150px;
  margin: 250px auto 0;
  overflow: hidden;
}
.loginBox {
  margin-bottom: 70px;
  display: flex;
  justify-content: flex-end;
  background: #fff url('../asset/images/bg_login.png') no-repeat;
  min-height: 454px;
  align-items: center;
}
.loginBox h2 {
  text-align: center;
  font-size: 36px;
  color: #5b73e8;
  line-height: 36px;
}
.loginBox .login {
  width: 400px;
}
.loginBox .login a {
  display: block;
}
.loginBox p {
  line-height: 22px;
  font-size: 14px;
}
.loginBox .inputArea {
}
.loginBox .inputArea input[type='text'],
.loginBox .inputArea input[type='password'] {
  background: #fff;
  border: 1px solid #d6dae3;
  margin-bottom: 10px;
  height: 60px;
  line-height: 58px;
  border-radius: 100px 100px;
  padding: 0 20px;
  font-size: 16px;
}
.loginBox .inputArea input[type='text']:hover,
.loginBox .inputArea input[type='password']:hover {
  background: #fff;
  border: 1px solid #4169cb;
}
.loginBox a.btn {
  background: #1d2340;
  border: 1px solid #1d2340;
  border-radius: 100px 100px;
  color: #fff;
}

/* 예약현황 */
.full-content.reserv-state .titWrap {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 20px;
  font-size: 28px;
  line-height: 28px;
  top: 56px;
  background: #fff;
  z-index: 100;
}
.date-selectWrap {
  padding: 0 20px 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 124px;
  background: #fff;
  min-width: 1200px;
  z-index: 100;
}
.date-selectWrap .date-view .btn {
  color: #727272;
}
.date-selectWrap .date-view .btn.active,
.date-selectWrap .date-view .btn:hover {
  background: #5b73e8;
  color: #fff;
}
.date-selectWrap .today-date .today {
  font-size: 28px;
  font-weight: bold;
  vertical-align: middle;
  margin: 0 20px;
}
.date-selectWrap .item-state {
  font-size: 12px;
  color: #a8a8a8;
  display: flex;
  align-items: center;
}
.date-selectWrap .item-state > div {
  margin-right: 8px;
}
.date-selectWrap .item-state span {
  display: inline-block;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 5px;
}
.date-selectWrap .item-state span.st1 {
  background: #5b73e8;
}
.date-selectWrap .item-state span.st2 {
  background: #34c38f;
}
.date-selectWrap .item-state span.st3 {
  background: #50a5f1;
}
.date-selectWrap .item-state span.st4 {
  background: #f46a6a;
}
.date-selectWrap .item-state span.st5 {
  background: #f1b44c;
}
.date-selectWrap .today-date {
  display: flex;
  align-items: center;
}
.date-selectWrap .today-date .next,
.date-selectWrap .today-date .prev {
  width: 36px;
  height: 36px;
  border-radius: 6px 6px;
  border: 1px solid #d8d8d8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.date-selectWrap .today-date .next {
  background: url('../asset/images/btn_cal_next.png') no-repeat center;
}
.date-selectWrap .today-date .prev {
  background: url('../asset/images/btn_cal_prev.png') no-repeat center;
}
.scheduler-header {
  border-top: 1px solid #707070;
  border-bottom: 2px solid #707070;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
  font-size: 12px;
  position: fixed;
  left: 0;
  right: 0;
  top: 180px;
  z-index: 100;
  min-width: 1200px;
}
.scheduler-header .room-tit {
  width: 269px;
  text-align: center;
}
.scheduler-header .date-row {
  width: calc(100% - 269px);
}
.scheduler-header .date-row > div:first-child {
  border-left: 1px solid #e1e1e1;
}
.scheduler-header .date-row > div {
  flex: 1;
  border-right: 1px solid #e1e1e1;
  padding: 5px 0;
  position: relative;
}
.scheduler-header .date-row > div .today {
  position: absolute;
  background: #5b73e8;
  width: 40px;
  font-size: 10px;
  border-radius: 3px;
  text-align: center;
  left: 50%;
  margin-left: -20px;
  color: #ffff72;
  top: -10px;
}
.scheduler-header .date-row > div p {
  display: block;
  text-align: center;
}
.scheduler-header .date-row > div p:first-child {
  margin-bottom: 3px;
}
.scheduler-header .date-row > div.sat p:first-child {
  color: #1380e2;
}
.scheduler-header .date-row > div.sun p:first-child {
  color: #e2133d;
}
.scheduler-header .date-row > div.sat span.day {
  background: #9fcae4;
  color: #0f4261;
}
.scheduler-header .date-row > div.sun span.day {
  color: #6d0f0f;
  background: #f1c3c3;
}
.scheduler-header .date-row > div span.day {
  display: inline-block;
  background: #d8dae5;
  width: 25px;
  height: 25px;
  border-radius: 100px 100px;
  line-height: 24px;
}
.scheduler-view {
  width: 100%;
  text-align: center;
  margin-top: 237px;
  min-width: 1200px;
  position: relative;
}
.scheduler-view .scheduler-rows {
  font-size: 14px;
  border-bottom: 1px solid #707070;
  text-align: center;
}
.scheduler-view .room-type {
  width: 150px;
}
.scheduler-view .room-number {
  width: 120px;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  text-align: left;
  font-size: 12px;
}
.scheduler-view .room-number > div {
  padding: 0 10px;
}
.scheduler-view .room-state {
  width: calc(100% - 270px);
  border-right: 1px solid #e1e1e1;
}
.scheduler-view .room-state > div {
  position: relative;
}
.scheduler-view .room-state > div a,
.scheduler-view .room-state > div .lock {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.scheduler-view .room-state > div .lock {
  background: #f3f3f3 url('../asset/images/ico_lock.png') no-repeat center center;
  height: 42px;
}
.scheduler-view .room-state > div a.none:hover {
  background: #e1e6fb url('../asset/images/ico_plus.png') center center no-repeat;
  color: transparent;
}
.scheduler-view .room-state > div a.reArea {
  position: absolute;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  height: 42px;
  line-height: 40px;
  font-size: 11px;
  z-index: 1;
  color: #fff;
  margin-left: 0px;
}
.scheduler-view .room-state > div a.st1 {
  background: #5b73e8;
}
.scheduler-view .room-state > div a.st2 {
  background: #34c38f;
}
.scheduler-view .room-state > div a.st3 {
  background: #50a5f1;
}
.scheduler-view .room-state > div a.st4 {
  background: #f46a6a;
}
.scheduler-view .room-state > div a.st5 {
  background: #f1b44c;
}
.scheduler-view .room-state .dF-f > div {
  flex: 1 1;
  font-size: 11px;
  text-align: center;
  border-right: 1px solid #e1e1e1;
}
.scheduler-view .room-state .dF-f > div:last-child {
  border-right: 0;
}
.scheduler-view .room-number > div,
.scheduler-view .room-state .dF-f > div {
  min-height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #e1e1e1;
}
.scheduler-view .room-state .dF-f > div {
  position: relative;
}
.scheduler-view .room-number > div:last-child,
.scheduler-view .room-state > div:last-child > div {
  border-bottom: 0;
}

/* 예약정보 */
.reserv-input {
  padding: 15px 20px;
  background: #f5f6f7;
}
.reserv-input section.add-group {
  border: 1px solid #5b73e8;
}

.reserv-input section.add-group .top-btn {
  margin-bottom: -15px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.reserv-input section.add-group .top-btn a {
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
}
.reserv-input section.add-group .top-btn a + a {
  margin-left: 5px;
}
.reserv-input section.add-group .top-btn a.close {
  border: 1px solid #5b73e8;
  color: #5b73e8;
  width: 94px;
}
.reserv-input section.add-group .top-btn a.close::after {
  content: '옵션 정보 닫기';
}
.reserv-input section.add-group .top-btn a.open {
  border: 1px solid #5b73e8;
  color: #fff;
  background: #5b73e8;
}
.reserv-input section.add-group .top-btn a.open::after {
  content: '옵션 정보 열기';
}
.reserv-input section.add-group .top-btn a.cancle {
  border: 1px solid #f46a6a;
  color: #fff;
  background: #f46a6a;
}
.reserv-input .add-gr {
  display: inline-block;
  border-radius: 5px;
  background: #5b68a1;
  border: 1px solid #5b68a1;
  height: 38px;
  line-height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 0 15px;
}
.reserv-input .resev-num {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reserv-input .resev-num dl {
  display: flex;
  align-items: center;
}
.reserv-input .resev-num dt {
  display: inline-block;
  background: #d8dbe8;
  color: #353c5a;
  height: 40px;
  border-radius: 100px 100px;
  line-height: 40px;
  padding: 0 15px;
  margin-right: 10px;
}
.reserv-input .resev-num dd {
  font-size: 18px;
}
.reserv-input .resev-num .r-right {
  display: flex;
}
.reserv-input section {
  border-radius: 10px 10px;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
}
.reserv-input section h3 {
  color: #5b73e8;
  font-size: 14px;
  margin-bottom: 10px;
}
.reserv-input section:last-child {
  padding: 0;
  overflow: hidden;
}
.reserv-input .term {
  display: flex;
  align-items: center;
  position: relative;
}
.reserv-input .term span {
  flex: 1;
  text-align: center;
}
.reserv-input .term span.day {
  position: absolute;
  height: 18px;
  border-radius: 100px 100px;
  padding: 0 5px;
  display: inline-block;
  background: #5b73e8;
  font-size: 10px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  left: 50%;
  width: 40px;
  margin-left: -20px;
}
.pop-footer a.btn-reserv {
  display: block;
  background: #5b73e8;
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
}
.r-right a {
  display: block;
  position: relative;
  padding: 0 15px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  width: 160px;
}
.r-right a.c1 {
  background: #5b73e8;
  border: 1px solid #5b73e8;
  color: #fff;
  margin-right: 10px;
}
.r-right a.c2 {
  background: #ef893c;
  border: 1px solid #ef893c;
  color: #fff;
}
.r-right .reserv-state {
  position: relative;
}

.r-right .reserv-state a.c1.drop:before,
.r-right .reserv-state a.c1:before,
.r-right .reserv-state a.c1.down:before,
.r-right .reserv-state a.c2.drop:before,
.r-right .reserv-state a.c2:before,
.r-right .reserv-state a.c2.down:before {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 20px;
  height: 12px;
  margin-top: -3px;
}

.r-right .reserv-state a.c2.drop:before,
.r-right .reserv-state a.c2:before,
.r-right .reserv-state a.c1.drop:before,
.r-right .reserv-state a.c1:before {
  background: url('../asset/images/ico-up1.png') no-repeat left 0;
}
.r-right .reserv-state a.c2.down:before,
.r-right .reserv-state a.c1.down:before {
  background: url('../asset/images/ico-down1.png') no-repeat left 0;
}
.category-menu {
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  display: none;
  z-index: 10;
  width: 160px;
  border-radius: 5px;
}
.category-menu.c1 {
  border: 1px solid #bfc8f5;
  background-color: #ebeefe;
  color: #8997d9;
}
.category-menu.c2 {
  border: 1px solid #e1bf8c;
  background-color: #fef7ee;
  color: #f8a18b;
}
.category-menu > li > a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
}
.category-menu.c1 > li > a {
  border-bottom: 1px solid #bfc8f5;
}
.category-menu.c2 > li > a {
  border-bottom: 1px solid #e1bf8c;
}
.category-menu > li > a:hover {
  text-decoration: none;
}
.category-menu > li:last-child > a {
  border-bottom: 0;
}

.summary-info {
  width: 430px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #fff;
  z-index: 11;
}
.summary-info .top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d2340;
  color: #fff;
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
}
.summary-info .btm-info {
  padding: 20px;
  font-size: 14px;
}
.summary-info .btm-info .term-box {
  background: #eaecf8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.summary-info .btm-info .term-box span {
  width: 60px;
  height: 60px;
  border-radius: 100px 100px;
  line-height: 60px;
  background: #5b73e8;
  color: #fff;
  font-size: 20px;
  margin: 0 20px;
}
.summary-info .btm-info .term-box dt {
  color: #5b73e8;
  margin-bottom: 5px;
}
.summary-info .btm-info .term-box dd {
  font-size: 22px;
  font-weight: bold;
}
.summary-info .btm-info .info-box {
  padding: 10px 0;
}
.summary-info .btm-info .info-box dl,
.summary-info .btm-info .price-box dl {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.summary-info .btm-info .info-box dd span {
  color: #5b73e8;
  font-weight: 500;
}
.summary-info .btm-info .info-box .txtbox {
  border: 1px solid #d6dae3;
  text-align: left;
  padding: 15px;
}
.summary-info .btm-info .info-box .txtbox p {
  color: #5b73e8;
  margin-bottom: 5px;
  font-size: 12px;
}
.summary-info .btm-info .price-box dl {
  font-size: 16px;
}
.summary-info .btm-info .price-box dl:last-child {
  font-size: 20px;
}
.summary-info .btm-info .price-box dd {
  font-weight: bold;
}
.summary-info .btm-info .price-box dl:last-child dd {
  color: #e63a3a;
}
.state-select {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #fff;
  z-index: 11;
  padding: 15px;
}
.state-select li a {
  font-size: 14px;
  display: block;
  text-align: left;
  padding: 10px 15px;
}
.state-select li a:hover {
  background: #6848c2;
  border-radius: 3px;
  color: #fff;
}
/* 요금관리 */
.price-input table {
  width: 100%;
}
.price-input table th {
  background: #f5f6f8;
  padding: 12px 0;
}
.price-input table th.bg {
  background: #fffbf8;
  color: #841919;
}
.price-input table th,
.price-input table td {
  font-size: 14px;
  border: 1px solid #e4e4e4;
}
.price-input table td {
  padding: 7px;
}
.price-input table td a.make {
  color: #fff;
  background: #5b73e8;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  display: inline-block;
  padding: 0 20px;
}
.price-input table td .n-input {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  position: relative;
}
.price-input table td .n-input input {
  height: 40px;
  line-height: 40px;
  border: 0;
  padding: 0 30px 0 10px;
}
.price-input table td .n-input span {
  position: absolute;
  right: 10px;
  top: 12px;
}
.price-input table td.bg {
  background: #f1f3fe;
  text-align: center;
  color: #5b73e8;
  font-weight: bold;
}
.price-input table tr.date th {
  background: #fffbf8;
  padding: 6px 0;
  font-weight: normal;
}
.price-input section {
  margin-bottom: 50px;
}
.price-input h4 {
  font-size: 18px;
  padding-left: 55px;
  margin-bottom: 15px;
  background: url('../asset/images/ico_h4.png') no-repeat 15px 50%;
  height: 34px;
  line-height: 34px;
}
.ex-txt {
  font-size: 14px;
  padding: 25px 15px;
  line-height: 18px;
}
.ex-txt strong {
  color: #5b73e8;
}

.imgList {
  display: flex;
}
.imgList li {
  margin-right: 10px;
}
.imgList .thumnail {
  position: relative;
  width: 120px;
  height: 120px;
}
.imgList .thumnail .thumnailAdd {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #fafafa url('../asset/images/btn_add2.png') center center no-repeat;
  cursor: pointer;
  border: 1px dashed #e2e2e2;
  cursor: pointer;
}
.imgList .thumnail .thumnailAdd input {
  opacity: 0;
  width: 120px;
  height: 120px;
  cursor: pointer;
}
.imgList .thumnail a {
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  top: 0;
  background: url('../asset/images/btn_delete2.png') no-repeat;
  display: inline-block;
}
.imgList .thumnail img {
  width: 120px;
  height: 120px;
}
.imgList span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.imgList span em {
  color: #d62828;
  font-weight: bold;
  margin-right: 3px;
}
.roomSetting {
  max-width: 995px;
}
.roomSetting .word .row.tit {
  color: #252525 !important;
}
.roomSetting .roomName {
  flex-wrap: wrap;
}
.roomSetting .roomName > div,
.roomSetting .roomName {
  display: flex;
  align-items: center;
  position: relative;
}
.roomSetting .roomName > div {
  flex: 0 0 33.3%;
  margin-bottom: 10px;
}
.roomSetting .roomName > div span {
  font-size: 14px;
  margin-right: 10px;
  word-break: keep-all;
}
.roomSetting .roomName > div input {
  margin-right: 15px;
  padding: 0 35px 0 15px;
}
.writeArea .roomSetting .ex {
  margin-left: 0 !important;
  margin-bottom: 20px;
}
.writeArea .roomSetting .delete {
  position: absolute;
  background: url('../asset/images/close2.png') no-repeat center center;
  width: 20px;
  height: 20px;
  right: 25px;
}
.writeArea .roomSetting .sell-num {
  background: #eaecf8;
  padding: 15px 25px;
  display: flex;
  align-items: center;
}
.writeArea .roomSetting .sell-num span {
  margin-right: 15px;
}
.writeArea .roomSetting .sell-num select {
  background-color: #fff;
  width: 150px;
  min-width: 150px;
  margin-right: 15px;
}

/* 레이어 */
.quick-layer {
  position: absolute;
  top: 57px;
  background: #fff;
  box-shadow: 0 10px 15px 0px rgba(82, 88, 95, 0.15);
  border-radius: 5px 5px;
  overflow: hidden;
  z-index: 10;
}
.quick-layer div.tit {
  font-size: 14px;
  color: #fff;
  padding: 12px 30px;
  background: #5b73e8;
  text-align: center;
  position: relative;
}
.quick-layer div.tit a {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 11px;
}
.quick-layer div.tit a.month-next {
  background: url('../asset/images/ico_open.png') no-repeat center center;
  right: 10px;
}
.quick-layer div.tit a.month-prev {
  background: url('../asset/images/ico_close.png') no-repeat center center;
  left: 10px;
}
.quick-layer.sel-date {
  z-index: 99;
}
.quick-layer .dateArea {
  margin-bottom: 5px;
}
.quick-layer .dateArea table {
  width: 100%;
}
.quick-layer .dateArea table th {
  background: #ebebeb;
  padding: 5px 0;
}
.quick-layer .dateArea table th,
.quick-layer .dateArea table td {
  font-size: 12px;
  text-align: center;
  padding: 8px 0;
  border: 0;
}
.quick-layer .dateArea table .sun {
  color: #f46a6a;
}
.quick-layer .dateArea table .sat {
  color: #50a5f1;
}
.quick-layer .dateArea table td div {
  cursor: pointer;
}
.quick-layer .dateArea table td div:hover,
.quick-layer .dateArea table td div.today {
  color: #5b73e8;
  font-weight: bold;
}

.periodWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.periodWrap .year {
  margin-right: 15px;
}
.periodWrap .year select {
  font-size: 24px;
  font-weight: bold;
  border: 0;
  background: url(../asset/images/ico_select3.png) right 14px center no-repeat;
  cursor: pointer;
  padding: 0 50px 0 15px;
}
.periodWrap .month {
  display: flex;
  align-items: center;
}
.periodWrap .month a {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
.periodWrap .month a.selected,
.periodWrap .month a:hover {
  background: #5b73e8;
  border-radius: 100px 100px;
  color: #fff;
}
.periodWrap select:hover {
  border: 0;
}
.periodWrap .month .next,
.periodWrap .month .prev {
  width: 36px;
  height: 36px;
  border-radius: 6px 6px;
  border: 1px solid #d8d8d8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.periodWrap .month .next {
  background: url('../asset/images/btn_cal_next.png') no-repeat center;
  margin-left: 15px;
}
.periodWrap .month .prev {
  background: url('../asset/images/btn_cal_prev.png') no-repeat center;
  margin-right: 15px;
}
